@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.space{
    margin-left: 8%;
    margin-right: 8%;
}

/* banner container start from here  */

header{
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container{
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner-content{
    text-align: right;
    width: 45%;
    padding: 10rem 0rem;
}

.banner-title{
    color: #ffffff;
    font-size: xx-large;
    font-weight: 800;
}

.banner-description{
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #ffffff;
}

.banner-btn{
    background-color: #ffffff;
    color: #005FAC;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    font-weight: 700;
    font-size: medium;
}

/* my failure container styles from here  */

.my-failures-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0rem;
}

.person-img img{
    width: 22rem;
}

.content-title{
    font-size: xx-large;
    font-weight: 700;
}

.my-failure{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.6rem;
}


/* My Plans container styles start from here  */
.plans-container{
    margin-bottom: 3rem;
}


.plans-title{
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    margin-bottom: 3rem;
}

.plans-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.plan p{
    color: #666161f1;
}

.plan h4{
    margin: 1rem 0rem;
}

/* mindset container styles start from here  */


.mindset-container{
    background-image: url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    border-radius: 8px;
    border: none;
}
.mindset-content{
    background-image: url(/images/gradient1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 2rem;
    border-radius: 8px;
    border: none;
}

.mindset-title{
    color: #ffffff;
    margin-bottom: 1rem;
}

/* footer container styles start from here  */

footer{
    background-color: black;
    
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 2rem;
    padding: 5rem 0rem;
}

.future-content{
    color: #ffffff;
    width: 50%;
}

.future-description{
    margin: 0.5rem 0rem;
    color: #c0bcbcf1;
}

.site-img{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.subscribe-content{
    color: #ffffff;
}

.subscribe-content input{
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.subscribe-btn{
    display: block;
    background-color: #005FAC;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 1rem;
    font-size: medium;
    font-weight: 600;
    margin-top: 1rem;
}